{extend name="common:base" /}
{block name="style"}

{/block}

{block name="content"}
<div class="main">
    <form id="setform" name="set"  method="post" class="form-horizontal form">
        <div class='panel panel-default'>
            <div class='panel-heading'>
                积分设置
            </div>
            <div class='panel-body'>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">收货后的积分释放周期</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="preday" class="form-control" value="{$set['preday']}" >
                        </div>
                        <span class="help-block">(每几天释放积分，单位:天)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">收货后的积分释放周期的比例</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="percent" class="form-control" value="{$set['percent']}" >
                        </div>
                        <span class="help-block">(每次释放积分的百分比，单位:%)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请一级返回的积分</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="first_share" class="form-control" value="{$set['first_share']}"  />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">邀请二级返回的积分</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="second_share" class="form-control" value="{$set['second_share']}"  />
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9">
                        <button class="btn btn-primary ajax-post col-lg-1" target-form="form-horizontal" type="submit">提交</button>
                    </div>
                </div>


            </div>
    </form>

</div>
 {/block}
{block name="script"}
 
<script type="text/javascript">

    $(document).ready(function(){
      $(".sendmoth").click(function(){
        interval_day();
      });
    });
    
    function interval_day(){
       if($('.sendmoth:checked').val()==1){
            $(".form-interval").show();
        }else{
           $(".form-interval").hide(); 
        } 
    }
    interval_day();
    </script>
{/block}